@{
    ViewData["Title"] = "Product Category";
}

<h1>Product Category</h1>

@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
else
{
    <p>Category = @ViewBag.CategoryName</p>
}
