@{
    ViewData["Title"] = "Product Detail";
}

<h1>Product Detail</h1>

@if (ViewBag.ErrorMessage != null)
{
    <p class="text-danger">@ViewBag.ErrorMessage</p>
}
else
{
    <p>Product ID = @ViewBag.ProductId</p>
}
