@model dynamic

<h2>Danh sách sách</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Name</td>
            <td>@book.Price</td>
        </tr>
    }
</table>